/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.container {
  width: 90%;
}
.main-navigation {
  text-align: right;
}
.main-navigation > .container > .row {
  margin-bottom: 0;
}
.custom-pa {
  background: url('../images/img1.png') no-repeat center bottom #fff;
  background-size: 100%;
}
.phone {
  display: inline-block;
  padding: 15px 0;
  color: #b3b3b3;
  font-weight: 700;
  font-size: 22px;
}
.phone > strong {
  color: #ff0000;
  font-weight: 700;
}
.phone, .phone > strong {
  vertical-align: top;
}
.main-navigation img {
    display: inline-block;
    padding: 10px 50px;
    vertical-align: top;
}
.section.no-pad-bot.home-banner {
  padding-bottom: 30px;
}
.home-banner h1 {
  color: #7c1919;
  font-size: 56px;
  margin: 15px 0 20px;
}
.home-banner h3 {
  color: #7c1919;
  font-size: 24px;
  margin: 0 0 40px;
}
.home-banner p {
  color: #004a82;
  font-size: 16px;
  line-height: normal;
}
.home-banner p span {
  font-size: 13px;
}
.section-1 {
    padding: 0 0 60px;
}
.trusted {
  text-align: center;
}
.trusted p {
  font-size: 13px;
  margin-top: 70px;
}
.trusted .clients {
  margin: 0 0 20px;
}
.trusted .clients img {
  vertical-align: middle;
  margin: 0 20px;
}
.smart-industry {
  text-align: center;
  padding: 30px 0 10px;
}
.smart-industry h3 {
  font-size: 24px;
  color: #7c1919;
}
.smart-industry h3 span {
  color: #000;
  font-family: "Century Gothic";
  font-weight: 700;
}
.smart-industry h3 span span {
  color: #ed1c24;
}
.perks {
  text-align: center;
}
.perks img {
  margin-bottom: 10px;
}
.perks p {
  text-align: left;
  width: 88%;
  margin: 0 auto;
  line-height: normal;
  font-size: 17px;
}
.section-2 {
  background: #f2f2f2;
}
.remove-risk {
  max-width: 750px;
  margin: 0 auto;
  width: 100%;
}
.remove-risk h2 {
  color: #004a82;
  font-weight: 700;
  font-size: 21px;
  text-align: center;
  margin: 15px;
}
.remove-risk h3 {
  color: #004a82;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin: 15px;
}
.remove-risk h4 {
  color: #004a82;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  margin: 15px;
}
.remove-risk p {
  color: #004a82;
  font-weight: 400;
  font-size: 14px;
}
.section-3 {
  text-align: center;
}
.section-3 img {
  max-width: 100%;
}

.section-4 {
  background: url('../images/img11.png') no-repeat center top;
  background-size: 100%;
  padding: 30px 0;
}
.section-4 > .container {
  width: 75%;
}
.section-4 > .container > .row {
  margin-bottom: 0;
}
.simple-steps h2 {
  color: #7c1919;
  margin: 15px 0 0;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  line-height: 37px;
}
.simple-steps h4 {
  color: #7c1919;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}
.simple-steps h3 {
  color: #7c1919;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
}
.simple-steps p {
  color: #004a82;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: #000;
}
footer {
  background: #404041;
  text-align: center;
  padding: 20px 0 10px;
}
footer a {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  margin: 0 0 10px;
  display: inline-block;
}
.chatnow {
  cursor: pointer;
  display: inline-block;
  position: fixed;
  right: -99px;
  top: 150px;
  color: #fff;
  background: #115e9c;
  font-weight: 700;
  padding: 15px 50px;
  border-radius: 15px 15px 0 0;
  box-shadow: -2px -2px 0 #6e7a84;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.contact-head {
  display: inline-block;
  max-width: 470px;
  width: 100%;
  text-align: left;
}
.contact-head p {
  display: inline-block;
  width: 64%;
  font-weight: 700;
  line-height: normal;
}
.contact-head a.phone {
  display: inline-block;
  width: 35%;
}
.list-service {
  text-align: center;
  padding: 0 0 60px;
}
.list-service img {
  max-width: 100%;
}
.person-magnet-image {
    position: relative;
    left: -190px;
}
.person-magnet-image img {
  max-width: 100%;
}
.desktop-content {
  display: block;
}
.mobile-content {
  display: none;
}
.chatbox {
  position: fixed;
  right: -320px;
  top: 44px;
  width: 100%;
  max-width: 280px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.close-chat {
  position: absolute;
  left: -30px;
  top: 0;
  width: 21px;
  height: 21px;
  display: block;
  background: url('../images/close.png') no-repeat;
  cursor: pointer;
}
.chatbox.open {
  right: 0;
}
.chat-head {
  background: #115e9c;
  padding: 10px;
  border-radius: 5px 0 0 0;
}
.chat-head h5 {
  margin: 5px 0 2px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.chat-head h6 {
  margin: 0 0 4px;
  color: #d0d0d0;
  font-size: 12px;
}
img.avatar {
  float: left;
  margin-right: 10px;
}
.chat-body {
  width: 100%;
  min-height: 190px;
  position: absolute;
  height: 100%;
  background: #fff;
}
.chat-body table {
  position: absolute;
  bottom: 0;
  width: 100%;
  top: auto;
  height: 100% !important;
  overflow-y: scroll;
  display: block;
}
.chat-body table tbody {
  display: table;
  width: 100%;
  height: 100%;
}
.chat-body table tbody tr {
  display: table-row;
  width: 100%;
  height: 100%;
}
.chat-body table tbody tr td {
  display: table-cell;
  height: 100%;
  width: 100%;
}
.chat-msg {
  padding: 10px;
  background: #dedede;
  border-radius: 0 0 0 5px;
}
.chat-msg textarea {
  margin: 0;
  display: block;
  border: 1px solid #af2f2f;
  font-size: 12px;
  border-radius: 3px;
  padding: 5px;
  background: #fff;
}
.admin-bubble {
  float: left;
  margin-left: 9px;
  background: #3e8cd5;
  color: #fff;
  text-align: left;
  line-height: 16px;
  padding: 10px;
  border-radius: 3px;
  position: relative;
  margin-bottom: 5px;
}
.admin-bubble:after {
  content: "";
  margin-top: -5px;
  top: 50%;
  left: -5px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #3e8cd5;
  position: absolute;
}
.admin-bubble p {
  font-size: 12px;
  margin: 0;
  color: #fff;
}
.user-bubble {
  float: right;
  margin-right: 9px;
  background: #eef1f5;
  color: #fff;
  text-align: right;
  line-height: 16px;
  padding: 10px;
  border-radius: 3px;
  position: relative;
  margin-bottom: 5px;
}
.user-bubble:after {
  content: "";
  margin-top: -5px;
  top: 50%;
  right: -5px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #eef1f5;
  position: absolute;
}
.user-bubble p {
  font-size: 12px;
  margin: 0;
  color: #333;
}



@media screen and ( max-width: 920px ) {
  .person-magnet-image {
    left: auto;
  }
}
@media screen and ( max-width: 767px ) {
  .phone {
    margin-left: 0;
  }
  .person-magnet-image {
    display: none;
  }
  .list-service {
    padding: 0;
  }
  .custom-pa {
    background: none;
  }
  .section-4 {
    background: none;
  }
  .main-navigation img {
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 auto;
    display: block;
  }
  .desktop-content {
    display: none;
  }
  .mobile-content {
    display: block;
    text-align: left;
  }
  .mobile-content > h3 {
    color: #ec1c24;
    font-size: 25px;
    margin: 0;
    font-weight: 700;
  }
  .mobile-content > p {
    color: #7c1919;
    font-size: 16px;
    margin: 0;
  }
  .risk {
    padding: 20px 0 0;
  }
  .risk h1 {
    color: #ed1c24;
    font-size: 50px;
    margin: 0;
  }
  .risk h2 {
    background: #ed1c24;
    color: #fff;
    font-size: 19px;
    display: inline-block;
    padding: 10px 30px 8px;
    border-radius: 20px;
    margin: 0;
  }
  .risk p {
    font-size: 14px;
    color: #7c1919;
    margin: 10px 0;
  }
  

}
@media screen and ( max-width: 480px ) {
  .contact-head p {
    width: 100%;
  }
  .contact-head a.phone {
    width: 100%;
  }
  .phone {
    padding: 0;
  }
  .home-banner h1 {
    font-size: 45px;
  }
}